# Xcode
build/
DerivedData/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xccheckout
*.moved-aside
xcuserdata/

# CocoaPods
Pods/
Podfile.lock
*.xcworkspace

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# OS files
.DS_Store
*.swp
*~

# IPA
*.ipa
ipa/
